<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  # Handle Authorization Header
  RewriteCond %{HTTP:Authorization} .
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  # Redirect Trailing Slashes If Not A Folder...
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} (.+)/$
  RewriteRule ^ %1 [L,R=301]

  # Allow direct access to CSS and JS files
  RewriteRule ^(.+\.css|.+\.js)$ - [L]

  # Handle Front Controller...
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.php [L]
</IfModule>

<FilesMatch "\.(?i:txt|gif|jpg|jpeg|png|js|css|html|ico|json)$">
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=604800, public"
  </IfModule>
</FilesMatch>
